 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 

<div class="content">
				<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_box">
					<div class="edit_title">{$meta_title|default=""}</div>
					<div class="edit_tab">
						<div class="tab_option on">基础</div>
						<div class="tab_option">高级</div>
					</div>
					<div class="edit_content">
						 <form class="group-form"  action="{:url('')}" method="post">
						<div class="edit_content_tab">
							<div class="input_title">名称<span>(名称)</span></div>
							<input type="text" name="title" class="input_box" value="{$info.title|default=""}"/>
							<div class="input_title">英文名称<span>(英文字母,大写)</span></div>
							<input type="text" name="name" class="input_box" value="{$info.name|default=""}"/>
						   <div class="input_title">类型<span>(配置类型)</span></div>
								<select name="type">
				             {volist name=":get_config_type()" id="vo"}
					           <option value="{$key}" {eq name="vo" value="$key"}selected{/eq}>{$vo}</option>
			  	              {/volist}
			                 </select>
							   <div class="input_title">分组<span>(文档分组)</span></div>
								<select name="group_id">
				            
							 {foreach name="group_list" item="vo" key="k"}
					           <option value="{$k}">{$vo}</option>
			  	              {/foreach}
			               </select>、
<div class="input_title">排序<span>(越小越靠前)</span></div>
							<input type="text" name="sort" class="input_box" value="{$info.sort|default=""}"/>
							 <div class="input_title">模型<span>(配置分组)</span></div>
								<select name="model_id">
				            
							 {volist name="list" id="vo"}
					           <option value="{$vo.id}">{$vo.title}</option>
			  	              {/volist}
			               </select>、
						   <div class="input_title">配置值<span>(值)</span></div>
							<input type="text" name="value" class="input_box" value="{$info.value|default=""}"/>
	                    <div class="input_title">配置项<span>（如果是枚举型 需要配置该项）</span></div>
                            <textarea name="extra"/>{$info.extra|default=""}</textarea>
                          <div class="input_title">备注<span>(备注名称)</span></div>
                            <textarea name="remark"/>{$info.remark|default=""}</textarea>
						</div>
				       <div class="edit_content_tab none">
						   
		
						  <div class="input_title">状态<span>(0-禁用，1-正常)</span></div>
                              <input type="text" name="status" class="input_box" value="{$info.status|default=""}"/>
		
							</div>
						<div class="btn_group">
						    <input type="hidden" name="id" value="{$info.id|default=""}">
							<div class="confirm_btn">确认</div>
							<div class="cancel_btn">返回</div>
						</div>
						</form> 
					</div>
				</div>
			</div>
		</div>

     
    <script type="text/javascript">
    $("select[name='model_id']").val("{$info.model_id|default='-1'}");  
	  $("select[name='group_id']").val("{$info.group_id|default='0'}");  
	$("select[name='type']").val("{$info.type|default='1'}");
    </script>
    <script src="__JS__/edit.js"></script>

<!-- 尾部 -->
	{include file='public/footer'}
    <!-- 尾部 --> 

