
<style>
/*文字链接颜色*/
.top{
	width: 100%;
	height: 50px;
	color: #ffffff;
    background-color: {:C('COLOR')};padding:2px 0;
}
/*文字链接颜色*/
a{color:{:C('COLOR')};text-decoration:none;cursor: pointer;}
/*文字链接颜色*/
.nav_tree_list .menue .c_menue_item a{
	text-decoration: none;
	color:#000000;
}
.nav_tree_list .menue .c_menue_item:hover{
	background-color:  {:C('COLOR')};
	color:#fff;
}
.nav_tree_list .menue .c_menue_item:hover a{
	background-color: {:C('COLOR')};
	color:#fff;
}

.nav_tree_list .menue .c_menue_item.checked{
	background-color:  {:C('COLOR')};
}
.edit_left .add{
	
	background-color: {:C('COLOR')};
}
.edit_tab .tab_option.on{
	background-color: {:C('COLOR')};
	border-top:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-bottom:1px solid #ffffff;
	color: #fff;
}
.confirm_btn{
	background-color:{:C('COLOR')};
}
.list_opr .edit_btn,.list_opr .del_btn{

	color:{:C('COLOR')};
}
tr th {
    color: #fff;
    background-color:{:C('COLOR')};height:40px;
}
.article_table .article_table_header{
     color: #fff;
    background-color:{:C('COLOR')};height:40px;
}
.edit_left .delete{
	background-color: #DD514C;
}
</style>
	
