 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 
			<div class="content ">
				<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
					<div class="edit_title"><i class="fa fa-{$now.font|default=''}"></i>{$meta_title|default=""}</div>
					<div class="search">
					<form class="search-form"  action="{:url()}" method="post">
					  <div class="group">
					       名称：<input type="text" name="title" class="search_ipt" value="{:input('title')}"/>
					  
					  </div>
						  <div class="group">
					     英文名称：<input type="text" name="name"  class="search_ipt" value="{:input('name')}"/>
					  </div>
					   <div class="group">
					      分组：<select name="group" class="search_ipt">
				               <option value="-1" >无</option>
							  {volist name=":get_config_group()" id="vo"}
					           <option value="{$key}" {eq name="vo" value="$key"}selected{/eq}>{$vo}配置</option>
			  	              {/volist}
			                  </select>
						  </div>
						  <div class="group">类型：
							 <select name="type"  class="search_ipt">
				             {volist name=":get_config_type()" id="vo"}
					           <option value="{$key}" {eq name="vo" value="$key"}selected{/eq}>{$vo}</option>
			  	              {/volist}
			                 </select>
						  </div>

					<div class="search_btn" onclick="$('.search-form').submit()">搜索</div>
					</form>
					</div>
					<div class="table">
					
					<div class="edit">
						<div class="edit_left ">
						<a href="{:U('add')}" class="add cur">新增</a>
							<a  data-url="{:U('del')}" class="delete cur">删除</a>
						</div>
						
					</div>

		<table class="list_table">
			<tr>
			 <th class="check"> <input class="checkbox check-all" type="checkbox">
											
                        
						</th>	<th>id</th>
							<th>配置名称</th>
												<th>英文名称</th>
												
                                                <th>分组</th>
                                               
                                             
												<th>操作</th>
			</tr>
		 {volist name="res.list" id="vo"}

                                            <tr >
                                               <td> 
											<input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}">
                                                </td>
												<td>{$vo.id} </td>
								         <td>{$vo.title|default=""} </td>
											   <td>{$vo.name|default=""} </td>
                                                <td>{$vo.group|default=""}</td>
                                             
                                             
			<td class="list_opr">
		
                                                    <span class="opr_box">
										 <a href="{:url('edit?id='.$vo['id'])}" class="edit_btn cur">编辑</a>
									 <a data-url="{:url('del?id='.$vo['id'])}" class="del_btn cur">删除</a>
								
                                        </span>          
                </td>
                                            </tr>
											
										{/volist}
        </table>

					<!--分页-->
				
						 {$res.page}
				
				</div>
				
			</div>
		</div>

	   <script src="__JS__/style.js"></script>

	 <!-- 尾部 -->
	{include file='public/footer'}
<!-- 尾部 --> 
